COHERENCE_CE_JAVA_BIN={{ coherence_ce_service_java_bin | quote }}
COHERENCE_CE_ARTIFACT={{ coherence_ce_service_artifact | quote }}
COHERENCE_CE_CLUSTER_NAME={{ coherence_ce_service_cluster_name | quote }}
COHERENCE_CE_LISTEN_ADDRESS={{ coherence_ce_service_listen_address | quote }}
COHERENCE_CE_CLUSTER_PORT={{ coherence_ce_service_cluster_port | quote }}
COHERENCE_CE_MANAGEMENT_PORT={{ coherence_ce_service_management_port | quote }}
COHERENCE_CE_HOME={{ coherence_ce_service_home | quote }}
COHERENCE_CE_LOG_DIR={{ coherence_ce_service_log_dir | quote }}
COHERENCE_CE_USER={{ coherence_ce_service_user | quote }}
COHERENCE_CE_GROUP={{ coherence_ce_service_group | quote }}
COHERENCE_CE_EXTRA_JAVA_OPTS={{ coherence_ce_service_extra_java_opts | join(' ') | quote }}
