MCP_CONTROL_PLANE_ENABLED=true
MCP_CONTROL_PLANE_DEFAULT_MODE="{{ resolved_mcp_control_plane.default_mode }}"
MCP_CONTROL_PLANE_WRITE_GATE="{{ resolved_mcp_control_plane.write_gate }}"
MCP_CONTROL_PLANE_REGISTRY_PATH="{{ resolved_mcp_control_plane.registry_path }}"
MCP_CONTROL_PLANE_PROMOTION_POLICY_PATH="{{ resolved_mcp_control_plane.promotion_policy_path }}"
MCP_CONTROL_PLANE_AUDIT_LOG_PATH="{{ resolved_mcp_control_plane.audit_log_path }}"
