# NFS client support for bare-metal and VM profiles.

CONFIG_NFS_FS=y
CONFIG_NFS_V3=y
CONFIG_NFS_V4=y
CONFIG_NFS_V4_1=y
CONFIG_NFS_V4_2=y
CONFIG_ROOT_NFS=y
CONFIG_NFS_SWAP=y
CONFIG_NFS_V4_1_IMPLEMENTATION_ID_DOMAIN="rfc1918.host"
CONFIG_SUNRPC=y
CONFIG_SUNRPC_GSS=y
CONFIG_RPCSEC_GSS_KRB5=m
CONFIG_LOCKD=y
CONFIG_GRACE_PERIOD=y
CONFIG_KEYS=y
CONFIG_DNS_RESOLVER=y

CONFIG_SUNRPC_XPRT_RDMA=m
CONFIG_RPCRDMA=m
CONFIG_DM_MULTIPATH=m
