# RDMA storage fabric overlay.

CONFIG_INFINIBAND=m
CONFIG_INFINIBAND_ADDR_TRANS=y
CONFIG_INFINIBAND_USER_ACCESS=m
CONFIG_INFINIBAND_USER_MAD=m
CONFIG_RDMA_RXE=m
CONFIG_RDMA_CM=m
CONFIG_IW_CM=m
CONFIG_MLX5_CORE=m
CONFIG_MLX5_CORE_EN=y
CONFIG_MLX5_INFINIBAND=m
CONFIG_QED=m
CONFIG_QEDE=m
CONFIG_QED_RDMA=y
CONFIG_BNXT=m
CONFIG_INFINIBAND_BNXT_RE=m

CONFIG_SCSI_ISCSI_ATTRS=m
CONFIG_ISCSI_TCP=m
CONFIG_DM_MULTIPATH=m
