# Kernel compatibility required by OpenZFS out-of-tree modules.

CONFIG_MODULES=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_EXPORTFS=y
CONFIG_SPLIT_PTLOCK_CPUS=4
CONFIG_BLK_DEV_DM=m
CONFIG_DM_BUFIO=m
CONFIG_CRYPTO_SHA256=m
CONFIG_CRYPTO_SHA512=m
CONFIG_CRYPTO_AES=m
CONFIG_CRYPTO_GCM=m
CONFIG_CRYPTO_CCM=m
