[defaults]
inventory = inventories/examples/hosts.yml
roles_path = roles
action_plugins = action_plugins
callback_plugins = callback_plugins
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent
stdout_callback = yaml
callbacks_enabled = ntfy,control_flow
retry_files_enabled = False
host_key_checking = False
forks = 10
gathering = smart
fact_caching = community.general.redis
fact_caching_connection = localhost:6379:0:
fact_caching_timeout = 86400
fact_caching_prefix = forge_ansible_facts
fact_caching_redis_keyset_name = forge_ansible_cache_keys

[ntfy_callback]
enabled = False
url =
topic =

[control_flow_callback]
enabled = False
path =
dir = /tmp/ansible-control-flow

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
