TRAC_MCP_IMPLEMENTATION_MODE="{{ resolved_trac_mcp_bridge.implementation_mode }}"
TRAC_MCP_LISTEN_HOST="{{ resolved_trac_mcp_bridge.listen_host }}"
TRAC_MCP_LISTEN_PORT="{{ resolved_trac_mcp_bridge.listen_port }}"
TRAC_MCP_TRAC_BASE_URL="{{ resolved_trac_mcp_bridge.trac_base_url }}"
TRAC_MCP_TOKEN="${{{ resolved_trac_mcp_bridge.token_vault_var }}}"
TRAC_MCP_MUTATION_ALLOWLIST="{{ resolved_trac_mcp_bridge.mutation_allowlist | join(',') }}"
