apiVersion: 1
providers:
  - name: stage5-observability
    orgId: 1
    folder: Stage5 Observability
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /var/lib/grafana/dashboards
