TANGD_COMMAND={{ tang_nbde_server_command | quote }}
TANGD_STATE_DIR={{ tang_nbde_server_state_dir | quote }}
TANGD_LISTEN_URL={{ tang_nbde_server_listen_url | quote }}
TANGD_EXTRA_ARGS={{ tang_nbde_server_extra_args | join(' ') | quote }}
