# QEMU plus Libvirt hypervisor overlay.

CONFIG_KVM=m
CONFIG_KVM_INTEL=m
CONFIG_KVM_AMD=m
CONFIG_VHOST=m
CONFIG_VHOST_NET=m
CONFIG_VHOST_VSOCK=m
CONFIG_VHOST_SCSI=m
CONFIG_MACVTAP=m
CONFIG_TAP=m
CONFIG_VFIO=m
CONFIG_VFIO_PCI=m
CONFIG_VFIO_IOMMU_TYPE1=m
CONFIG_IOMMU_SUPPORT=y
CONFIG_INTEL_IOMMU=y
CONFIG_AMD_IOMMU=y

CONFIG_NET_SCH_HTB=m
CONFIG_NET_SCH_FQ_CODEL=m
CONFIG_NET_CLS_CGROUP=m
CONFIG_NET_CLS_BPF=m
