# Xen hypervisor host overlay.

CONFIG_XEN=y
CONFIG_XEN_DOM0=y
CONFIG_XEN_PVH=y
CONFIG_XEN_BLKDEV_BACKEND=m
CONFIG_XEN_NETDEV_BACKEND=m
CONFIG_XEN_PCIDEV_BACKEND=m
CONFIG_XEN_SCSI_BACKEND=m
CONFIG_XEN_ACPI_PROCESSOR=m
CONFIG_XENFS=m
CONFIG_XEN_PRIVCMD=m
CONFIG_XEN_GNTDEV=m
CONFIG_XEN_GRANT_DEV_ALLOC=m
