# Virtual machine guest overlay.

CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_PCI_LEGACY=y
CONFIG_VIRTIO_BALLOON=m
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_INPUT=m
CONFIG_VIRTIO_FS=m
CONFIG_DRM_VIRTIO_GPU=m

CONFIG_HYPERVISOR_GUEST=y
CONFIG_PARAVIRT=y
CONFIG_KVM_GUEST=y
CONFIG_HYPERV_BALLOON=m
CONFIG_HYPERV_UTILS=m
CONFIG_XEN_PV=y
CONFIG_XEN_PVHVM=y
CONFIG_XEN_BALLOON=y
CONFIG_XEN_BLKDEV_FRONTEND=m
CONFIG_XEN_NETDEV_FRONTEND=m

CONFIG_9P_FS=m
CONFIG_NET_9P=m
CONFIG_NET_9P_VIRTIO=m
