# arguments for prometheus podman exporter
PODMAN_EXPORTER_OPTS="--web.listen-address={{ resolved_podman_exporter_telemetry.listen_address }}:{{ resolved_podman_exporter_telemetry.listen_port }}{% for extra_arg in resolved_podman_exporter_telemetry.extra_args %} {{ extra_arg }}{% endfor %}"
