SUSHY_EMULATOR_LISTEN_IP={{ resolved_vm_redfish_emulator.listen_host }}
SUSHY_EMULATOR_LISTEN_PORT={{ resolved_vm_redfish_emulator.listen_port }}
SUSHY_EMULATOR_LIBVIRT_URI={{ resolved_vm_redfish_emulator.virtual_bmc.libvirt_uri }}
SUSHY_EMULATOR_IGNORE_BOOT_DEVICE=False
SUSHY_EMULATOR_BOOT_LOADER_MAP={"UEFI": "uefi", "Legacy": "bios"}
