#!/usr/bin/env bash
set -euo pipefail

{% for segment in resolved_container_service_segments_local %}
if ! podman network exists {{ segment.name | quote }}; then
  podman network create \
    --driver {{ segment.driver | default('bridge') | quote }} \
    --subnet {{ segment.subnet | quote }} \
    --gateway {{ segment.gateway | quote }} \
{% if (segment.interface_name is defined) and (container_service_segments_enable_interface_name_option | default(false)) %}
    -o interface_name={{ segment.interface_name | quote }} \
{% endif %}
    {{ segment.name | quote }}
fi
{% endfor %}
