INFERENCE_SERVICE_NAME={{ inference_service.name | quote }}
INFERENCE_SERVICE_IMAGE={{ ((inference_service.images_by_architecture | default({})).get(resolved_inference_service_architecture, inference_service.image)) | quote }}
INFERENCE_SERVICE_PORT={{ inference_service.port | default('') | string | quote }}
INFERENCE_SERVICE_STATE_DIR={{ (inference_service.state_dir | default(inference_service_state_root ~ '/' ~ inference_service.name)) | quote }}
INFERENCE_SERVICE_LOG_DIR={{ (inference_service.log_dir | default(inference_service_log_root ~ '/' ~ inference_service.name)) | quote }}
{% set service_accelerator_name = inference_service.accelerator | default(resolved_inference_service_accelerator) %}
{% set service_accelerator_profile = inference_service_accelerator_profiles[service_accelerator_name] %}
{% set merged_environment = inference_service_default_environment | combine(service_accelerator_profile.environment | default({}), recursive=True) | combine(inference_service.environment | default({}), recursive=True) %}
{% for env_name, env_value in merged_environment | dictsort %}
{{ env_name }}={{ env_value | string | quote }}
{% endfor %}
