application-port={{ resolved_nexus_repo.listen_port }}
application-host={{ resolved_nexus_repo.listen_host }}
nexus-context-path={{ resolved_nexus_repo.context_path }}
nexus-work={{ resolved_nexus_repo.data_root }}
karaf.data={{ resolved_nexus_repo.data_root }}
