{% for parent in (resolved_profile_parents | default(profile_parents)) %}
{% if ':' in parent %}
{% set repo_name, repo_profile = parent.split(':', 1) %}
../../../{{ repo_name }}/profiles/{{ repo_profile }}
{% else %}
{{ parent }}
{% endif %}
{% endfor %}
